<!doctype html>
<html>

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Welcome</title>
</head>

<body>
	<p>Welcome to Grade Prediction!</p>
	<p>The purpose of this ML model is to take a problem description,
		a question, a student's answer, and whether or not the response
		is correct, correct, contradictory, or incorrect.</br>
		We will not be required to provide references for your answers. They're in the application
		memory because it only functions in the context of prior asked questions</p>
	<a href={{ url_for('input_form') }}>Start the Grade prediction example</a>
</body>

</html>